.todo-btn {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid black;
    height: 40px;
    background-color: white;
    border-radius: 5px;
}

.center-content {
    text-align: center;
}

.list-items {
    margin-left: 30%;
    margin-right: 30%;
}